<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Login V1</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/png" href="images/icons/favicon.ico" />
    <link rel="shortcut icon" href="/asset/img/logo2.png" type="image/x-icon">

    <link
      rel="stylesheet"
      type="text/css"
      href="fonts/font-awesome-4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" type="text/css" href="css/util.css" />
    <link rel="stylesheet" type="text/css" href="css/register.css" />
  </head>
  <body>
    <nav>
      <a href="/">
        <img src="/asset/img/logo2.png" alt="logo" class="logo" height="500" width="500">
      </a>
    </nav>
    <div class="limiter">
      <div class="container-register">
        <div class="wrap-register">
          <div class="register-pic js-tilt" data-tilt>
            <img src="asset/img/illustration.png" alt="IMG" />
          </div>
          <form class="register-form validate-form" action="/register" method="post">
            <span class="register-form-title"> User Register </span>
            <div
              class="wrap-input100 validate-input"
              data-validate="Valid Name is Required"
            >
              <input
                class="input100"
                type="text"
                name="fullName"
                placeholder="Full Name"
              />
              <span class="focus-input100"></span>
              <span class="symbol-input100">
                <i class="fa fa-user" aria-hidden="true"></i>
              </span>
            </div>
            <div
              class="wrap-input100 validate-input"
              data-validate="Valid email is required: ex@abc.xyz"
            >
              <input
                class="input100"
                type="text"
                name="email"
                placeholder="Email"
              />
              <span class="focus-input100"></span>
              <span class="symbol-input100">
                <i class="fa fa-envelope" aria-hidden="true"></i>
              </span>
            </div>
            <div
              class="wrap-input100 validate-input"
              data-validate="Valid phone number is required: 1112223334"
            >
              <input
                class="input100"
                type="number"
                name="phoneNumber"
                placeholder="Phone Number"
              />
              <span class="focus-input100"></span>
              <span class="symbol-input100">
                <i class="fa fa-phone-square" aria-hidden="true"></i>
              </span>
            </div>

            <div
              class="wrap-input100 validate-input"
              data-validate="Password is required"
            >
              <input
                class="input100"
                type="password"
                name="password"
                placeholder="Password"
              />
              <span class="focus-input100"></span>
              <span class="symbol-input100">
                <i class="fa fa-lock" aria-hidden="true"></i>
              </span>
            </div>
            <div
              class="wrap-input100 validate-input"
              data-validate="Password is required"
            >
              <input
                class="input100"
                type="password"
                name="cpassword"
                placeholder=" Confirm Password"
              />
              <span class="focus-input100"></span>
              <span class="symbol-input100">
                <i class="fa fa-lock" aria-hidden="true"></i>
              </span>
            </div>

            <div class="container-register-form-btn">
              <button class="register-form-btn">Register</button>
            </div>
<!-- 
            <div class="text-center p-t-12">
              <span class="txt1"> Forgot </span>
              <a class="txt2" href="#"> Username / Password? </a>
            </div> -->

            <div class="text-center p-t-136">
              <a class="txt2" href="/login">
                Already have an account
                <i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
              </a>
            </div>
          </form>
        </div>
      </div>
    </div>

    <script src="vendor/jquery/jquery-3.2.1.min.js"></script>
    <script src="vendor/bootstrap/js/popper.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="vendor/select2/select2.min.js"></script>
    <script src="vendor/tilt/tilt.jquery.min.js"></script>
    <script>
      $(".js-tilt").tilt({
        scale: 1.1,
      });
    </script>
    <script src="js/main.js"></script>
  </body>
</html>
